<h2>Computer Build</h2>

<ul>
    <li>Operating System: <%= @computer.operating_system %></li>
    <li>Cpu: <%= @computer.cpu %></li>
    <li>RAM: <%= @computer.ram %></li>
    <li>GPU: <%= @computer.gpu %></li>
    <li>Motherboard: <%= @computer.motherboard_type %></li>
    <li>Cooling System: <%= @computer.cooling_type %></li>
    <li>Case Size: <%= @computer.case_size %></li><br>

    Ordered on <%= @computer.created_at.to_date %>

   
</ul>
 <%= link_to "Edit Computer", edit_computer_path(@computer)%>