<h2>Computer Build</h2>

<ul>
    <li><h6><b>Operating System: </b><%= @computer.operating_system %></h6></li>
    <li><h6><b>Cpu: </b><%= @computer.cpu %></h6></li>
    <li><h6><b>RAM: </b><%= @computer.ram %></h6></li>
    <li><h6><b>GPU: </b><%= @computer.gpu %></h6></li>
    <li><h6><b>Motherboard: </b><%= @computer.motherboard_type %></h6></li>
    <li><h6><b>Cooling System: </b><%= @computer.cooling_type %></h6></li>
    <li><h6><b>Case Size: </b><%= @computer.case_size %></li></h6><br>

    Ordered on <%= @computer.created_at.to_date %>

   
</ul>
 <%= link_to "Edit Computer", edit_computer_path(@computer)%>