<h2><%= @user.username.capitalize%>'s Homepage</h2>

<p>
    <ul>
        <li><h4><%= link_to "All Current Orders", user_orders_path(@user) %></h3></li>
    </ul>
</p>

<p>
    <h4> Last Order Details </h4>
    <% if @last_order.present? %>
    <ul>
        <li>Shipping Type: <%= @last_order.shipping_type %></li>
        <li>Shipping Address: <%= @last_order.shipping_address %></li>
        <li>Card Type: <%= @last_order.card_type %></li>
        <li>Card Number: <%= @last_order.card_number %></li>
    </ul>
    <%else%>
    No Recent Orders
    <%end%>
</p>