<h2><%= current_user.username.capitalize%>'s Orders</h2>
<%= link_to "Create New Order", new_order_path %><br>



<p>
    <ul>
        <%@number = 0 %>
        <% @orders.each do |order|%>
            <%@number += 1 %>
            <h5><li><%= link_to "Order # #{@number}", order_path(order)%></li></h5>
            Ordered on <%= order.created_at.strftime("%m/%d/%Y") %><br> 
            <%= link_to "Edit Order", edit_order_path(order)%> - <%= link_to "Cancel Order", order_path(order.user, order), method: :delete, data: {confirm: "You sure?"} %>
        <%end%>
    </ul>
</p><br>
