<h2>Your Order</h2>

<p>
    <ul>
        <li>Order Number: #<%= @order.id %></li>
        <li>Shipping Type: <%= @order.shipping_type %></li>
        <li>Shipping Address: <%= @order.shipping_address %></li>
        <li>Card Type: <%= @order.card_type %></li>
        <li>Card Number: <%= @order.card_number %></li>
    </ul>
</p>

<p>
    <h4>Computer Builds</h4>
    
    <%@order.computers.each do |computer|%>
    <%@number = 0 %>
    <ul>
        <%@number += 1 %>
            <li><h5><%= "Computer # #{@number}"%></h5>
            Built on <%= computer.created_at.strftime("%m/%d/%Y") %><br>
            <%= link_to "More Info", computer_path(computer)%></li>
    </ul>
    <% end %>
</p>
<p>
    <h6><%= link_to "Add New Build", new_order_computer_path(@order)%></h6>
</p>